@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="container mt-5">
   

    <form method="post" asp-controller="Account" asp-action="SignIn" novalidate>

        

        <div class="row g-3 justify-content-md-center mt-1" method="post" asp-controller="Account" asp-action="SignUp" novalidate>
            <p class="col-md-8">@Model.ErrorMessage </p>
            <div class="row g-3 justify-content-md-center">
                <h1 class="col-md-8">Welcome Back</h1>
                <p class="col-md-8">Don't have an account yet? <a asp-controller="Account" asp-action="SignUp">Sign up here.</a></p>
               
            </div>



        

            <div class="col-md-8">
                <label asp-for=Form.Email></label>
                <span asp-validation-for="Form.Email" class="form-text"></span>
                <input asp-for="Form.Email" class="form-control ">

            </div>

            <div class="col-md-8">
                <label asp-for=Form.Password></label>
                <span asp-validation-for="Form.Password" class="form-text"></span>
                <input asp-for="Form.Password" type="password" class="form-control ">

            </div>

        

            <div class="col-md-8">
                <div class="form-check">
                    <input asp-for="Form.RememberMe">
                    <label asp-for="Form.RememberMe"></label>
                

                </div>
            </div>

            <div class="col-8 d-grid">
                <button asp-controller="Account" asp-action="SignIn" class="btn btn-theme-s" type="submit">@Model.Title</button>
            </div>
            <p class="fw-semibold text-center"><a asp-controller="Account" asp-action="Forgot">Forgot your password?</a></p>

        </div>
    </form>
</div>
